.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.list-group {
  padding: 0;
}

.list-group-item {
  padding: 0;
}

.form-group {
  margin: auto;
  width: 200px;
}